<h2>Ваша корзина</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Название</th>
			<th>Количество</th>
			<th>Цена</th>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
		<tr>
			<td><%= item[0].title %></td>
			<td><%= item[1] %></td>
			<td><%= item[0].price %></td>
		</tr>
		<% end %>

	    <tr class="total-row">
	      <td colspan="1" class="text-end"><strong>Итого:</strong></td>
	      <td><strong><%= @quantity_all %></strong></td>
	      <td><strong><%= @total %> руб.</strong></td>
	    </tr>

	</tbody>

</table>